{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title> {{ title }} </title>
    <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
</head>

<body>
    <form method="post">
        {% csrf_token %}
        {% if content %}
        {{ content | safe}}
        <br><br><br><br>

        
        <a href = "http://127.0.0.1:8000/wiki/{{title}}/edit" > Edit </a>
        {% else %}
        <p>
            Page is not found!
        </p>
    </form>

    {% endif %}
</body>

</html>